%ul.messages{ "data-message-id": message.id  }
  %li.messages__list
    %span.messages__name
      = message.user.name
    %span.messages__date
      = simple_time(message[:created_at])
  %li.messages__list
    - if message.content.present?
      %span.messages__list__message
        = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
