.messages.js-messages
  .messages__item
    %p<
      名前
      %span<
        2018/01/01 10:20:13
    %p チャット内容
  .messages__item
    %p<
      名前
      %span<
        2018/01/01 10:20:13
    %p チャット内容
  .messages__item
    %p<
      名前
      %span<
        2018/01/01 10:20:13
    %p チャット内容
