.header
  %h1.header__ttl name
  %a
  %i.far.fa-edit
  %a
    %i.fa.fa-cog.icon
%ul.groups
  %li.groups__list
    %span.groups__list__name
      group-name
  %li.groups__list
    %span.groups__list__message
      まだメッセージがありません。
