.header
  %h1 name
  %a
  %i.far.fa-edit
  %a
    %i.fa.fa-cog.icon
.groups
  .groups__item
    %h3 group-name
    %p まだメッセージがありません。
  .groups__item
    %h3 group-name
    %p まだメッセージがありません。
  .groups__item
    %h3 group-name
    %p まだメッセージがありません。
