.header
  %h1.header__ttl name
  %a
  %i.fa.fa-image
  %a
    %i.fa.fa-cog.icon
%ul.groups
  %li.groups__list
    %span.groups__name
      group-name
  %li.groups__list
    %span.groups__message
      まだメッセージがありません。
