!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .container
      .container-left
        = render partial: "side_bar"
      .container-right
        = render partial: "header"
        = render partial: "message"
        = render partial: "form"


