html {height: 100%;}
body {height: 100%;}
.container {height: 100%;}
.wrapper {height:100%;}

.container-left {
  float: left;
  height: 100%;
  width: 300px;
  .header {
    background-color: #090c10;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: left;
    height: 100px;
    padding: 0 20px 0;
    position: relative;
    width: 260px;
    &__ttl {
      float: left;
      font-weight: bold;
      position: absolute;
      top: 37%;
      width: 215px;
    }
    &__icons {
      position: absolute;
      top: 37px;
      right: 10px;
      .list {
        float: left;
        padding-right: 5px;
        a {
          color: #fff;
        }
      }
    }
  }
  .groups {
    background-color: #253141;
    height:calc(100% - 120px);
    margin-top:0px;
    padding: 20px 20px 0;
    width: 260px;
    &__list {
      .groups__name {
        color: $WhiteColor;
        font-size: 15px;
        padding-bottom: 5px;
      }
      .groups__message {
        color: $WhiteColor;
        font-size: 11px;
      }
    }
  }
}
.container-right {
  float: left;
  height: calc(100% - 85px);
  width: calc(100% - 300px);
  .message {
    overflow-y: scroll;
    height: calc(100% - 100px);
  }
  .header {
    border: 1px solid #eee;
    height: 98px;
    padding-left: 40px;
    position: relative;
    .group-ttl {
      color: #333;
      font-size: 20px;
      font-weight:bold;
      padding: 35px 0 8px 0;
    }
    .group_member {
      color: #999;
      font-size: 12px;
    }
      .header__edit {
        position: absolute;
        top: 28px;
        right: 60px;
          p {
             color: $mainBlueColor;
          }
          a {
            display: inline-block;
            width: 100px;
            height: 44px;
            text-align: center;
            text-decoration: none;
            line-height: 54px;
            outline: none;
            position: relative;
            z-index: 2;
            background-color: #fff;
            border: 1px solid $mainBlueColor;
            color: $mainBlueColor;
            line-height: 40px;
            overflow: hidden;
          }
          a:hover {
            color: #fff;
          }
          a::before,
          a::after  {
            position: absolute;
            z-index: -1;
            display: block;
            content: '';
          }
          a,
          a::before,
          a::after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;
          }
          a::after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(.5);
            transform: scale(.5);
          }
          a:hover::after {
            background: $mainBlueColor;
            -webkit-transform: scale(1);
            transform: scale(1);
          }

      }
  }
  .messages {
    padding: 36px 0 0 30px;
    margin-bottom: 40px;
    &__list {
      .messages__name {
        color: #434A54;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 10px;
      }
      .messages__date {
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
      &__message {
        color: #434A54;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 10px;
        img {
          display:block;
        }
      }
      img {
        display: block;
      }
    }
  }
  .form {
    background-color: #B8C3C7 !important;
    height: 50px;
    padding:20px 40px 20px 0;
    &__message {
      border: none;
      color: #434a54;
      font-size: 16px;
      height: 50px;
      margin-left: 40px;
      margin-right: -5px;
      width: calc(100% - 196px);
      padding-left: 10px;
    }
    label {
      background-color: $WhiteColor;
      padding: 17px 12px;
      input {
      display: none;
      }
    }
  }
}
    .form__submit {
      background-color: $mainBlueColor;
      display: inline-block;
      width: 100px;
      text-align: center;
      padding: 13px 0px;
      color: $WhiteColor;
      border: none;
    }

